- title('Professional Highlights')

= render 'shared/profile'

%section.highlights
  %h2 Professional Highlights
  %ul

    %li 3+ years of professional experience working with <a href="http://www.workingwithrails.com/person/13391-dalibor-nasevic" target="_blank">Ruby on Rails</a> web framework in few companies or as independent consultant.

    %li Experience developing custom web applications in the following domains: Enterprise Resource Planning (ERP) systems, Content Management Systems (CMS), Web Services (Web APIs), Social Network Applications, On-line Auction Business Models, Web Search Crawlers, Information Trackers etc.

    %li Extensive work with Javascript and jQuery, including front-end implementation of <a href="https://test.bwinlabs.net/betbird" target="_blank">live betting system</a> for <a href="https://www.bwin.com/" target="_blank">bwin.com</a>.

    %li Winner of <a href="http://www.flickr.com/photos/it_com_mk/5003633679/in/set-72157624863051331/lightbox/" target="_blank">Vip Android Grand Prix</a> with PopraviMK. <a href="http://www.appbrain.com/app/mk.popravi.mobile" target="_blank">PopraviMK</a> is Android mobile application (developed in Titanium mobile) & <a href="http://popravi.mk" target="_blank">popravi.mk</a> is Ruby on Rails backend with API services that allows citizens to help municipalities by locating, reporting and discussing urban issues.

    %li Co-founder of <a href="http://ruby.mk" target="_blank">MKRUG</a> (Macedonian Ruby Users Group).

    %li Presented on Ruby and Ruby On Rails in various venues.

    %li Graduated at <a href="http://www.feit.ukim.edu.mk/" target="_blank">Faculty of Electrical Engineering and Information Technologies</a> in Skopje, Macedonia at <time datetime="2007-10-09">9th of October, 2007</time> with diploma work: "B2C application in J2EE platform".

    %li Active in open source development with few projects on <a href="https://github.com/dalibor" target="_blank">Github</a> including small contributions to <a href="http://contributors.rubyonrails.org/contributors/dalibor-nasevic/commits" target="_blank">Ruby on Rails</a> web framework.

    %li Follow me on twitter: <a href="http://twitter.com/blackflasher" target="_blank">@blackflasher</a> or contact me via email: <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a>.
