<h1>About</h1>
<p><%= image_tag 'dalibor.nasevic.png', :class => 'about', :alt => 'Dalibor Nasevic' %>
Dalibor Nasevic is a Software Developer from Skopje, Macedonia, specialized in Ruby programming language and Ruby On Rails web application framework.</p>

  <p>He graduated at Faculty of Electrical Engineering and Information Technologies in Skopje, Macedonia at 9th of October, 2007. Diploma work was titled "B2C application in J2EE platform" and it was including implementation of practical B2C (Business to Consumer) model application using J2EE (Java 2 Enterprise Edition) platform.</p>

  <p>After the studies he was working as a Computer Engineer for Stopanska Banka (largest bank in Macedonia) and Libra 1 (very large wholesale pharmaceutical company in Macedonia) for about half a year.</p>

  <p> In this period his personal interests in programming languages and technologies have slightly changed. Java stuff including JSP, Struts, Tiles, EJB, Hibernate, etc... were left behind for the benefit of more productive technologies like Ruby Programming Language and Ruby on Rails web application framework.</p>

  <p>Starting from May 2008, he is employed by <%= link_to 'Aspekt', 'http://www.aspekt.com.mk' %> and works as a Solution Designer / Senior Web Developer. This job also includes few offshore outsourcing projects for online gaming company <%= link_to 'bwin', 'http://www.bwin.com' %>.</p>

<h1>Experience</h1>
  <p>Modeling, designing and implementing: ERP Systems (Enterprise Resource Planning), CMS (Content Management Systems), Web API (Web Services), Social Network Applications, On-line Auction Business Models. Lately working with Internet Search Engine Applications (Web Crowler, Search Engine Index, Web Search Query).</p>

<h1>Skills, Knowledge, Practices</h1>
<p>Ruby programming language, Ruby on Rails web application framework, other libraries in the Ruby ecosystem, Prototype Javascript framework, TDD (Test Driven Development), BDD (Behavior Driven Development), Scaling Ruby on Rails applications, Ruby on Rails deployment strategies, Software development metodologies (Agile, Scrum, XP) and productivity practices including Pomodoro Technique.</p>
<p>Areas of future interests: Collective Inteligence, Data mining and machine learning, Programming pragmatism, Managing, shiping and releasing web products theory.</p>

<h1>Principles</h1>
  <p>Enjoying direct interaction with clients, implementing software much faster instead of spending time on documentation, respond to change very easy.</p>

<h1>Contact</h1>
  <p>
    <ul>
      <li>Email: dalibor.nasevic at gmail dot com</li>
      <li>Skype: dalibor.nasevic</li>
      <li>Twitter: blackflasher</li>
    </ul>
  </p>
