%article.promo.about
  .info
    = image_tag('dalibor.nasevic.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
  .description

    %p
      Hello, I'm Dalibor.
    %p
      I'm <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">software engineer</a> working at <a href="https://madmimi.com" target="_blank">Mad Mimi</a> on the email infrastructure service and marketing tool. I'm also organizer of <a href="http://ruby.mk" target="_blank">MKRUG</a> and <a href="https://github.com/dalibor">open-source contributor</a>.

    %p
      I strive to continuously improve things, write clean code and practice <a href="http://c2.com/cgi/wiki?ExtremeProgramming" target="_blank" title="eXtreme Programming">eXtreme Programming</a> (TDD, Pair Programming, Refactoring).

    %p
      Email me at <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a><br />
      Tweet me at <a href="https://twitter.com/dnasevic" target="_blank">@dnasevic</a>

%article.promo
  .info
    %h3 Blog posts

  .description
    %ul
      - @posts.each do |post|
        %li
          %h4= link_to post.title, post
          %time= post.published_at.to_s(:date)


    %p.notes= link_to "View all blog posts →", posts_path
