<%= render 'shared/sidebar' %>

<article class="promo about">
  <div class="description">
    <h1>
      About Dalibor Nasevic
    </h1>
    <p>
      I'm <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" rel="noopener noreferrer" title="My LinkedIn profile">Software Engineer</a> at GoDaddy working on the email delivery infrastructure for GoDaddy Email Marketing and Mad Mimi. My primary focus is architecture design and development of scalable and robust services using open-source tools like Ruby, Linux, MySQL, Redis, etc.
    </p>
    <p>
      I co-founded <a href="/posts/6-announcing-macedonian-ruby-user-group-mkrug">Macedonian Ruby User Group</a> and facilitated several <a href="/posts?tag=coderetreat">Coderetreat</a> events spreading the bug of Software Craftsmanship. I'm interested in topics about software design from a pragmatic stand point.
    </p>
    <p>
      I put an accent on the "how" using <a href="http://dalibornasevic.com/posts/23-extreme-programming-wisdoms">eXtreme Programming</a> practices like TDD, refactoring and pair programming as part of whatever agile process management we run as a team.
    </p>
    <p>
      In 2010, I did a small experiment with Titanium Mobile and won the <a href="/posts/15-vip-android-challenge-grand-prix-with-popravimk">Grand Prix</a> of the first Android mobile application challenge in Macedonia organized by VIP mobile operator.
    </p>
  </div>
</article>

<article class="promo">
  <div class="description">
    <h2 class="info">Recent blog posts</h2>
    <ul class="posts_list">
      <% @posts.each do |post| %>
        <li>
          <time><%= post.date.strftime('%Y-%m-%d') %></time>
          <h3><%= link_to post.title, post %></h3>
        </li>
      <% end %>
    </ul>
    <p class="notes"><%= link_to "View all blog posts →", posts_path %></p>
  </div>
</article>
