%article.promo.about
  .info
    = image_tag('dalibor.nasevic.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
  .description

    %p
      Hi there! I'm Dalibor Nasevic.
    %p
      I'm <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">software engineer</a> working at <a href="https://godaddy.com" target="_blank">GoDaddy</a> on the email-delivery infrastructure and scaling of <a href="https://madmimi.com" target="_blank">Mad Mimi</a> email marketing services.
      %br
      I strive to continuously improve things, write clean code and practice eXtreme Programming.

    %p
      When not building things, I like to go hiking, play basketball or billiards with friends, or gather with local <a href="http://ruby.mk" target="_blank">ruby.mk</a> community.

    %p
      You can <a href="mailto:dalibor.nasevic@gmail.com">email me</a>, <a href="https://twitter.com/dnasevic" target="_blank">tweet me</a> or find me on <a href="https://github.com/dalibor" target="_blank">github</a>.

%article.promo
  .info
    %h3 Blog posts

  .description
    %ul.posts_list
      - @posts.each do |post|
        %li
          %h3= link_to post.title, post
          %time= post.published_at.strftime('%e %b %Y')


    %p.notes= link_to "View all blog posts →", posts_path
