<%= render 'shared/sidebar' %>

<article class="promo about">
  <div class="description">
    <p>
      Hello everyone!
    </p>
    <p>
      I'm <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">Software Engineer</a> at <a href="https://godaddy.com" target="_blank">GoDaddy</a> working on the email delivery infrastructure for GoDaddy Email Marketing and Mad Mimi. My primary focus is design and development of scalable services using open-source tools like Ruby, Rails, MySQL, Redis and Linux.
    </p>
    <p>
      I co-founded <a href="/posts/6-announcing-mk-ruby-users-group-ruby-mk">MK Ruby Users Group</a> and facilitated several <a href="/posts?tag=coderetreat">Coderetreat</a> events spreading the bug of Software Craftsmanship. I'm strong proponent of eXtreme Programming practices and strive to write clean code.
    </p>
    <p>
      In 2010, I did a small experiment with Titanium Mobile and won the <a href="/posts/15-vip-android-challenge-grand-prix-with-popravimk">Grand Prix</a> of the first Android mobile application challenge in Macedonia organized by VIP mobile operator.
    </p>
  </div>
</article>

<article class="promo">
  <div class="description">
    <h2 class="info">Recent blog posts</h2>
    <ul class="posts_list">
      <% @posts.each do |post| %>
        <li>
          <time><%= post.date.strftime('%Y-%m-%d') %></time>
          <h3><%= link_to post.title, post %></h3>
        </li>
      <% end %>
    </ul>
    <p class="notes"><%= link_to "View all blog posts →", posts_path %></p>
  </div>
</article>
