.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/webrat-*
config/database.yml
config/initializers/session_store.rb
config/initializers/rakismet.rb
config/application.yml
public/sitemap*
capybara*
*~
*.swp
