@charset "UTF-8";
/* line 27, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 29, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 14, ../../../app/stylesheets/partials/_example.sass */
body, select, input, textarea {
  color: #444444;
}

/* line 17, ../../../app/stylesheets/partials/_example.sass */
html {
  overflow-y: scroll;
}

/* line 20, ../../../app/stylesheets/partials/_example.sass */
a, a:active, a:visited {
  color: #607890;
  text-decoration: none;
}

/* line 24, ../../../app/stylesheets/partials/_example.sass */
a:hover {
  color: #003366;
  text-decoration: underline;
}

/* line 28, ../../../app/stylesheets/partials/_example.sass */
ul, ol {
  margin-left: 1.8em;
}

/* line 31, ../../../app/stylesheets/partials/_example.sass */
ol {
  list-style-type: decimal;
}

/* line 34, ../../../app/stylesheets/partials/_example.sass */
td, td img {
  vertical-align: top;
}

/* line 37, ../../../app/stylesheets/partials/_example.sass */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 40, ../../../app/stylesheets/partials/_example.sass */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 62, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 67, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 79, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 81, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 87, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 122, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 127, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
}

/* line 62, ../../../app/stylesheets/partials/_example.sass */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 65, ../../../app/stylesheets/partials/_example.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 68, ../../../app/stylesheets/partials/_example.sass */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 71, ../../../app/stylesheets/partials/_example.sass */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 25, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 26, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 28, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 29, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 31, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 33, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 34, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 10, ../../../app/stylesheets/partials/_page.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 15, ../../../app/stylesheets/partials/_page.sass */
strong, th {
  font-weight: bold;
}

/* line 18, ../../../app/stylesheets/partials/_page.sass */
small {
  font-size: 85%;
}

/* line 28, ../../../app/stylesheets/partials/_page.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 32, ../../../app/stylesheets/partials/_page.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 40, ../../../app/stylesheets/partials/_page.sass */
ol, ul {
  margin-bottom: 1em;
}

/* line 44, ../../../app/stylesheets/partials/_page.sass */
ul li {
  list-style: none;
}

/* line 50, ../../../app/stylesheets/partials/_page.sass */
p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 55, ../../../app/stylesheets/partials/_page.sass */
h1 {
  font-size: 2em;
  line-height: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 60, ../../../app/stylesheets/partials/_page.sass */
h2 {
  font-size: 1.5em;
}

/* line 62, ../../../app/stylesheets/partials/_page.sass */
h3 {
  font-size: 1.25em;
}

/* line 64, ../../../app/stylesheets/partials/_page.sass */
h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 68, ../../../app/stylesheets/partials/_page.sass */
h5 {
  font-size: 0.9em;
}

/* line 70, ../../../app/stylesheets/partials/_page.sass */
h6 {
  font-size: 0.8em;
}

/* line 73, ../../../app/stylesheets/partials/_page.sass */
blockquote {
  background-color: #e5e8e8;
  border: 1px solid #c9c9c9;
  font-style: italic;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
}

/* line 81, ../../../app/stylesheets/partials/_page.sass */
body {
  background-color: #f2f2f2;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* GRID BEGIN */
/* line 87, ../../../app/stylesheets/partials/_page.sass */
.container {
  width: 900px;
  margin: 25px auto 0;
  overflow: hidden;
}

/* line 92, ../../../app/stylesheets/partials/_page.sass */
.left {
  float: left;
  width: 420px;
}

/* line 96, ../../../app/stylesheets/partials/_page.sass */
.right {
  float: right;
  margin-left: 40px;
  width: 440px;
}

/* line 101, ../../../app/stylesheets/partials/_page.sass */
.wrapper {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

/* GRID END */
/* HEADER BEGIN */
/* line 108, ../../../app/stylesheets/partials/_page.sass */
.header {
  height: 70px;
  margin-bottom: 10px;
}
/* line 112, ../../../app/stylesheets/partials/_page.sass */
.header nav {
  float: right;
  margin: 20px 0 0 0;
}
/* line 116, ../../../app/stylesheets/partials/_page.sass */
.header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 6px;
  padding-right: 6px;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.header nav ul li:first-child, .header nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.header nav ul li:last-child, .header nav ul li.last {
  padding-right: 0;
}

/* HEADER END */
/* FOOTER BEGIN */
/* line 121, ../../../app/stylesheets/partials/_page.sass */
.footer {
  height: 20px;
  margin-top: 30px;
}
/* line 125, ../../../app/stylesheets/partials/_page.sass */
.footer .copyright {
  float: left;
}
/* line 128, ../../../app/stylesheets/partials/_page.sass */
.footer nav {
  float: right;
}
/* line 131, ../../../app/stylesheets/partials/_page.sass */
.footer nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.footer nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.footer nav ul li:first-child, .footer nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.8.7-p299@blog/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.footer nav ul li:last-child, .footer nav ul li.last {
  padding-right: 0;
}

/* FOOTER END */
/* LOGO BEGIN */
/* line 136, ../../../app/stylesheets/partials/_page.sass */
.logo {
  float: left;
}
/* line 138, ../../../app/stylesheets/partials/_page.sass */
.logo h1 {
  margin-bottom: 0;
}
/* line 140, ../../../app/stylesheets/partials/_page.sass */
.logo h1 a {
  text-transform: uppercase;
  font-size: 25px;
  color: #586a58;
  letter-spacing: -0.03em;
}
/* line 146, ../../../app/stylesheets/partials/_page.sass */
.logo h1 a:hover {
  text-decoration: none;
}
/* line 149, ../../../app/stylesheets/partials/_page.sass */
.logo p {
  margin-top: 7px;
  border-top: 5px solid #cccccc;
  padding-top: 2px;
  font-size: 15px;
}

/* LOGO END */
/* line 157, ../../../app/stylesheets/partials/_page.sass */
section header {
  background: #cee0ce;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
}
/* line 163, ../../../app/stylesheets/partials/_page.sass */
section header h3 {
  float: left;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 167, ../../../app/stylesheets/partials/_page.sass */
section header a {
  float: right;
}

/* line 170, ../../../app/stylesheets/partials/_page.sass */
.about {
  background: #cee0ce;
  padding: 10px;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #666666 0 2px 2px 0;
  -webkit-box-shadow: #666666 0 2px 2px 0;
  -o-box-shadow: #666666 0 2px 2px 0;
  box-shadow: #666666 0 2px 2px 0;
}
/* line 177, ../../../app/stylesheets/partials/_page.sass */
.about div {
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  height: 90px;
}
/* line 183, ../../../app/stylesheets/partials/_page.sass */
.about div h2 {
  margin-left: 110px;
  font-size: 1.3em;
  letter-spacing: -0.03em;
}
/* line 188, ../../../app/stylesheets/partials/_page.sass */
.about div h2 strong {
  text-transform: UPPERCASE;
}
/* line 191, ../../../app/stylesheets/partials/_page.sass */
.about div img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  float: left;
}
/* line 199, ../../../app/stylesheets/partials/_page.sass */
.about p {
  padding: 5px;
  margin: 0;
}

/* line 203, ../../../app/stylesheets/partials/_page.sass */
.updates {
  margin: 35px 0 20px;
}
/* line 207, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul {
  margin: 0;
}
/* line 209, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li {
  margin: 10px 0 0;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px dashed #cccccc;
}
/* line 214, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li img.cover {
  margin: 3px 10px 0 0;
  float: left;
  width: 34px;
  height: 34px;
}
/* line 220, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li div.listening_now {
  margin-top: 5px;
}
/* line 222, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li div.listening_now img {
  margin: 3px 5px 0 0;
  float: left;
}
/* line 226, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li i {
  display: block;
  padding-top: 8px;
}
/* line 230, ../../../app/stylesheets/partials/_page.sass */
.updates > div ul li .date {
  font-size: 0.9em;
  font-weight: bold;
}

/* line 235, ../../../app/stylesheets/partials/_page.sass */
.posts_excerpt article {
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px dashed #cccccc;
}
/* line 240, ../../../app/stylesheets/partials/_page.sass */
.posts_excerpt article h4 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}
/* line 244, ../../../app/stylesheets/partials/_page.sass */
.posts_excerpt article p {
  margin: 0;
}
/* line 247, ../../../app/stylesheets/partials/_page.sass */
.posts_excerpt article time {
  display: block;
  padding-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
}

/* line 254, ../../../app/stylesheets/partials/_page.sass */
.highlights {
  width: 420px;
  margin-left: 40px;
  padding: 20px 10px;
  float: right;
  background: #dddddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 262, ../../../app/stylesheets/partials/_page.sass */
.highlights h2 {
  margin: 0 0 15px 10px;
}
/* line 266, ../../../app/stylesheets/partials/_page.sass */
.highlights ul li {
  list-style: circle outside none;
  margin: 5px 0 15px;
}

/* line 270, ../../../app/stylesheets/partials/_page.sass */
.posts {
  width: 650px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

/* line 277, ../../../app/stylesheets/partials/_page.sass */
article.post {
  width: 650px;
  float: left;
  margin-bottom: 35px;
}
/* line 283, ../../../app/stylesheets/partials/_page.sass */
article.post ul li {
  list-style: disc outside none;
  padding-bottom: 5px;
}
/* line 287, ../../../app/stylesheets/partials/_page.sass */
article.post h3 {
  margin-bottom: 1em;
}
/* line 290, ../../../app/stylesheets/partials/_page.sass */
article.post header {
  background: #dddddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #999999 1px 2px 3px 0;
  -webkit-box-shadow: #999999 1px 2px 3px 0;
  -o-box-shadow: #999999 1px 2px 3px 0;
  box-shadow: #999999 1px 2px 3px 0;
  margin-bottom: 15px;
  padding: 5px 15px;
}
/* line 296, ../../../app/stylesheets/partials/_page.sass */
article.post header h2 {
  font-size: 24px;
}
/* line 298, ../../../app/stylesheets/partials/_page.sass */
article.post header div {
  margin-top: 2px;
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #888888;
}
/* line 306, ../../../app/stylesheets/partials/_page.sass */
article.post header div .tags {
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  margin: 0 10px;
  padding: 0 10px;
}
/* line 312, ../../../app/stylesheets/partials/_page.sass */
article.post header div span {
  word-spacing: 3px;
}
/* line 314, ../../../app/stylesheets/partials/_page.sass */
article.post section {
  border-bottom: 1px solid #cccccc;
  padding: 10px 5px;
}

/* line 318, ../../../app/stylesheets/partials/_page.sass */
aside {
  float: right;
  width: 205px;
}
/* line 322, ../../../app/stylesheets/partials/_page.sass */
aside h3 {
  margin: 0 0 15px 20px;
}
/* line 325, ../../../app/stylesheets/partials/_page.sass */
aside ul li {
  margin: 3px 0;
}

/* line 328, ../../../app/stylesheets/partials/_page.sass */
.comments {
  width: 650px;
}
/* line 331, ../../../app/stylesheets/partials/_page.sass */
.comments h3 {
  margin-bottom: 20px;
}
/* line 334, ../../../app/stylesheets/partials/_page.sass */
.comments ol {
  margin: 0;
}
/* line 337, ../../../app/stylesheets/partials/_page.sass */
.comments ol li {
  border-bottom: 1px dashed #cccccc;
  margin: 20px 0 30px;
  padding-bottom: 5px;
  overflow: hidden;
}
/* line 343, ../../../app/stylesheets/partials/_page.sass */
.comments ol li .author {
  float: left;
  width: 60px;
  overflow: hidden;
}
/* line 348, ../../../app/stylesheets/partials/_page.sass */
.comments ol li time {
  margin: 5px 0;
  text-align: right;
  float: right;
  width: 590px;
}
/* line 354, ../../../app/stylesheets/partials/_page.sass */
.comments ol li .content {
  float: right;
  width: 580px;
  margin-left: 10px;
}

/* line 360, ../../../app/stylesheets/partials/_page.sass */
.comment_form h3 {
  margin-bottom: 1em;
}

/* line 363, ../../../app/stylesheets/partials/_page.sass */
.all_tags {
  margin: 35px 0 0;
}
/* line 366, ../../../app/stylesheets/partials/_page.sass */
.all_tags .content {
  margin-top: 5px;
  padding: 5px;
  word-spacing: 4px;
}
/* line 371, ../../../app/stylesheets/partials/_page.sass */
.all_tags .t1 {
  font-size: 12px;
}
/* line 373, ../../../app/stylesheets/partials/_page.sass */
.all_tags .t2 {
  font-size: 15px;
}
/* line 375, ../../../app/stylesheets/partials/_page.sass */
.all_tags .t3 {
  font-size: 18px;
}
/* line 377, ../../../app/stylesheets/partials/_page.sass */
.all_tags .t4 {
  font-size: 21px;
}
/* line 379, ../../../app/stylesheets/partials/_page.sass */
.all_tags .t5 {
  font-size: 24px;
}

/* line 382, ../../../app/stylesheets/partials/_page.sass */
label {
  font-weight: bold;
  margin-bottom: 3px;
  float: left;
  display: inline-block;
  width: 100px;
}

/* line 389, ../../../app/stylesheets/partials/_page.sass */
span.field_notice {
  display: block;
  padding-left: 100px;
  color: #666666;
  font-size: 10px;
}

/* line 395, ../../../app/stylesheets/partials/_page.sass */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 401, ../../../app/stylesheets/partials/_page.sass */
form div {
  margin: 5px 0 10px;
}
/* line 404, ../../../app/stylesheets/partials/_page.sass */
form span.field_with_errors input, form span.field_with_errors textarea {
  border: 1px solid red;
}

/* line 407, ../../../app/stylesheets/partials/_page.sass */
input, textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 3px;
}
/* line 411, ../../../app/stylesheets/partials/_page.sass */
input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active {
  -moz-box-shadow: #cccccc 0 0 5px 0;
  -webkit-box-shadow: #cccccc 0 0 5px 0;
  -o-box-shadow: #cccccc 0 0 5px 0;
  box-shadow: #cccccc 0 0 5px 0;
  border: 1px solid #cccccc;
}

/* line 415, ../../../app/stylesheets/partials/_page.sass */
input[type=submit] {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  text-transform: uppercase;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: #666666 1px 3px 5px 0;
  -webkit-box-shadow: #666666 1px 3px 5px 0;
  -o-box-shadow: #666666 1px 3px 5px 0;
  box-shadow: #666666 1px 3px 5px 0;
}

/* line 424, ../../../app/stylesheets/partials/_page.sass */
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
  -moz-box-shadow: #666666 1px 3px 5px 0;
  -webkit-box-shadow: #666666 1px 3px 5px 0;
  -o-box-shadow: #666666 1px 3px 5px 0;
  box-shadow: #666666 1px 3px 5px 0;
}

/* line 428, ../../../app/stylesheets/partials/_page.sass */
.submit {
  margin-left: 100px;
}

/* line 431, ../../../app/stylesheets/partials/_page.sass */
.syntaxhighlighter {
  padding: 10px 0;
}

/* PAGINATION BEGIN */
/* line 437, ../../../app/stylesheets/partials/_page.sass */
.pagination a, .pagination span, .pagination em {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}

/* line 445, ../../../app/stylesheets/partials/_page.sass */
.pagination em {
  font-weight: bold;
}

/* line 448, ../../../app/stylesheets/partials/_page.sass */
.pagination a {
  text-decoration: none;
}

/* line 451, ../../../app/stylesheets/partials/_page.sass */
.pagination a, .pagination span {
  -moz-border-radius: 3px;
  border: 1px solid #cccccc;
}

/* line 455, ../../../app/stylesheets/partials/_page.sass */
.pagination em {
  background: #36393d;
  color: white;
  border: 1px solid #36393d;
}

/* line 460, ../../../app/stylesheets/partials/_page.sass */
.pagination a {
  color: #1a1a1a;
}

/* line 463, ../../../app/stylesheets/partials/_page.sass */
.pagination a:hover {
  border: 1px solid #666666;
}

/* PAGINATION END */
/* FLASH BEGIN */
/* line 469, ../../../app/stylesheets/partials/_page.sass */
#error_explanation {
  margin: 20px;
}
/* line 472, ../../../app/stylesheets/partials/_page.sass */
#error_explanation p {
  margin: 0 10px 0;
}

/* line 475, ../../../app/stylesheets/partials/_page.sass */
.notice, .error {
  padding: 2px 10px;
  margin: 10px 0;
  color: white;
}
/* line 479, ../../../app/stylesheets/partials/_page.sass */
.notice p, .error p {
  margin: 0;
}

/* line 482, ../../../app/stylesheets/partials/_page.sass */
.notice {
  background-color: #00cc33;
  border: 3px solid green;
}

/* line 486, ../../../app/stylesheets/partials/_page.sass */
.error, .recaptcha_error {
  background-color: #cc0000;
  border: 3px solid red;
}

/* line 490, ../../../app/stylesheets/partials/_page.sass */
#recaptcha_widget_div {
  margin-left: 100px;
}

/* line 493, ../../../app/stylesheets/partials/_page.sass */
.recaptcha_error {
  display: none;
}

/* FLASH END */
