<div class='short-about'>
  <div class='avatar'>
    <img alt="Dalibor Nasevic" src="/assets/dalibor.nasevic.profile.jpg" title="Dalibor Nasevic">
  </div>

  <div class='about'>
    Hi, I'm Dalibor Nasevic.
    I'm a <a href="https://www.linkedin.com/in/dalibornasevic" title="My LinkedIn profile">Sr. Principal Software Engineer</a> at GoDaddy, responsible for delivering billions of customer emails.
    You can reach out to me via <a href="mailto:dalibor.nasevic@gmail.com" title="Email">email</a> or tweet me at <a href="https://twitter.com/dnasevic" title="Twitter" target="_blank">@dnasevic</a>.
  </div>
</div>
