<div class='short-about'>
  <div class='avatar'>
    <img alt="Dalibor Nasevic" src="/assets/dalibor.nasevic.profile.jpg" title="Dalibor Nasevic">
  </div>

  <div class='about'>
    Hello, my name is Dalibor Nasevic. I'm a <a href="https://www.linkedin.com/in/dalibornasevic" title="My LinkedIn profile">Senior Principal Engineer</a> at GoDaddy, specializing in Ruby, AWS, and Email Delivery. You can reach out to me via <a href="mailto:dalibor.nasevic@gmail.com" title="Email">email</a>.
  </div>
</div>
