.short-about {
  border-top: 1px solid $grey-color-light;
  padding-top: 64px;
  margin-top: 64px;
  position: relative;
  text-align: center;

  .avatar {
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .avatar img {
    border-radius: 50%;
    border: 2px solid $grey-color-light;
    height: 80px;
    width: 80px;
    object-fit: cover;
    background: $background-color;
  }
}

.posts-nav {
  font-size: 14px;
  margin-top: 32px;
  overflow: hidden;
  padding: 24px 0;
  width: 100%;
  border-top: 1px solid $grey-color-light;
}

.posts-nav div {
  display: inline-block;
  float: left;
  margin: 0;
  max-width: 45%;
}

.posts-nav .next {
  float: right;
  text-align: right;
}

.posts-related {
  font-size: 14px;
  margin: 32px 0;
  padding: 24px;
  background: lighten($grey-color-light, 5%);
  border-radius: 8px;
}

.posts-related .text-lg {
  padding: 0 0 16px 0;
  font-weight: 600;
}

.posts-related ul {
  line-height: 1.8;
  padding: 0 0 0 20px;
  margin: 0;
}


// Base link style (navigation, etc.)
a {
  color: $grey-color-dark;
  text-decoration: none;
  transition: color 0.15s ease, background-color 0.15s ease;

  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    color: $text-color;
  }
}

// Content links - distinctive style
.post-content a,
.primary-about a,
.page-content > .wrapper > p a,
.page-content > .wrapper > ul a,
.short-about .about a,
.primary-posts .post-link,
.posts-related a,
.posts-nav a {
  color: $text-color;
  text-decoration: underline;
  text-decoration-color: rgba(66, 133, 244, 0.4);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: text-decoration-color 0.15s ease;

  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration-color: rgba(66, 133, 244, 0.8);
  }
}

.site-header, .site-footer {
  a {
    color: $grey-color-dark;
    text-decoration: none;

    &:hover {
      color: #000000;
      text-decoration: none;
    }

    &:visited {
      color: $grey-color-dark;
    }
  }
}


ul.social_links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline-table;
}
ul.social_links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
ul.social_links li:first-child, ul.social_links li.first {
  padding-left: 0;
}
ul.social_links li:last-child {
  padding-right: 0;
}
ul.social_links li.last {
  padding-right: 0;
}

.site-footer {
  padding: 32px 0;
  border-top: 1px solid $grey-color-light;

  .wrapper {
    text-align: center;
  }
}


.site-nav {
  .page-link {
    color: $grey-color-dark;
    font-weight: 500;

    &:hover {
      color: $text-color;
    }
  }
}


.post-link {
  display: inline;
}


.post-title {
  @include relative-font-size(2.325);
}


body {
  overflow: scroll;
}

.site-header {
  border-top: 0 solid $grey-color-dark;
}


.primary-avatar {
  float: left;
  margin-right: 24px;
  margin-bottom: 16px;

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}

.about-photo {
  float: right;
  max-width: 180px;
  border-radius: 8px;
  margin: 0 0 20px 32px;
}

.primary-about {
  margin-bottom: 32px;
  line-height: 1.7;
  color: $text-color;
}

.primary-posts {
  clear: both;
  border-top: 1px solid $grey-color-light;
  padding-top: 40px;
  margin-top: 16px;

  .post-list-heading {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: $grey-color;
    margin-bottom: 20px;
  }

  ul.post-list {
    margin-left: 0;

    li {
      margin-bottom: 12px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 8px;

      .post-meta {
        font-size: 13px;
        color: $grey-color;
        min-width: 90px;
      }

      .post-link {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
