<div class="item">
  <h1><%= link_to 'About', about_path %></h1>
  <div class="content">
    <strong>Dalibor Nasevic</strong> is a Software Developer from Skopje, Macedonia, specialized in Ruby programming language and Ruby On Rails web application framework and is currently employed by <%= link_to 'Aspekt', 'http://www.aspekt.com.mk/' %>.
  </div>
</div>
