.item
  %h1= link_to 'About', about_path
  .content
    %strong Dalibor Nasevic
    is a Software Engineer from Skopje (Macedonia), works on web applications development using Ruby, Ruby on Rails, Javascript and jQuery, and currently is employed by
    = link_to 'Siyelo', 'http://siyelo.com'
