<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = "<%= post_url(@post, host: 'dalibornasevic.com', port: nil) %>";
    this.page.identifier = "<%= @post.id %>";
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//dalibornasevic.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the comments.</a></noscript>
