%p
  <strong>Available for freelance/contract work.</strong> <br />
  Email me at <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a><br />
  Tweet me at <a href="https://twitter.com/dnasevic" target="_blank">@dnasevic</a>
