%p <strong>Get in touch with me</strong>: <br />Email me at <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a>. Tweet me at <a href="http://www.twitter.com/blackflasher" target="_blank">@blackflasher</a>.
