%section#profile
  %section.about
    = image_tag 'dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic'
    %h2
      Dalibor Nasevic is software developer with full stack experience, from business analyze to UX design.

    %p
      Develops web & mobile applications development, writes about software, good design and agile methodologies like scrum and extreme programming.

    %p
      Tools that makes ideas into reality: Ruby, Ruby on Rails, jQuery, Titanium Mobile (Android), Ubuntu, Vim, Git, Cucumber, RSpec, Haml, Sass and many other OS frameworks.

  %section#tweets
    %header
      %h3 Recent tweets
      = link_to "Twitter", "http://twitter.com/blackflasher", :target => "_blank"
    #tweets_container
  %section#tracks
    %header
      %h3 Recent tracks
      = link_to "Last.fm", "http://last.fm/user/blackflasher", :target => "_blank"
    #tracks_container
