%section.left.profile
  %section.about
    %div
      = image_tag 'dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic'
      %h2
        My name is <strong>Dalibor Nasevic</strong>.
        I'm Software developer with experience in web & mobile applications, currently working as Ruby on Rails consultant.

    %p
      This is my blog where I write about software practices, good design and agile methodologies like Scrum and Extreme Programming.

    %p
      Tools that make my ideas into reality: Ruby, Ruby on Rails, jQuery, Titanium Mobile (Android), Ubuntu, Vim, Git, Cucumber, RSpec, Haml, Sass and many other Open Source frameworks.

    %p
      = link_to "read my professional highlights >>", static_path('about')

  %section.updates.twitter
    %header
      %h3 Recent tweets
      = link_to "Twitter", "http://twitter.com/blackflasher", :target => "_blank"
    #tweets_container
  %section.updates.lastfm
    %header
      %h3 Recent tracks
      = link_to "Last.fm", "http://last.fm/user/blackflasher", :target => "_blank"
    #tracks_container
