%section.left.profile
  %section.about
    %div
      = image_tag 'dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic'
      %h2
        My name is <strong>Dalibor Nasevic</strong>. I'm Ruby / Rails / Javascript programmer, creator of <a href="http://popravi.mk/" target="_blank">PopraviMK</a>, currently working as Ruby on Rails Developer at <a href="http://www.siyelo.com/" target="_blank">Siyelo</a>.

    %p
      This is my blog where I write about my software development practices and agile methodologies like Scrum and XP.

    %p
      I spend most of my time solving problems using Free and Open Source Software like: Ruby, Ruby on Rails, Javascript, jQuery, Titanium Mobile (Android), Ubuntu, Vim, Git, Cucumber, RSpec, Haml, Sass and many other tools and frameworks.

    %p
      You can find me on: <a href="http://twitter.com/blackflasher" target="_blank">Twitter</a>, <a href="https://github.com/dalibor" target="_blank">Github</a> or send me <a href="mailto:dalibor.nasevic@gmail.com">an email</a>.

    %p
      = link_to "read my professional highlights >>", static_path('about')

  %section.updates.twitter
    %header
      %h3 Recent tweets
      = link_to "Twitter", "http://twitter.com/blackflasher", :target => "_blank"
    #tweets_container
  %section.updates.lastfm
    %header
      %h3 Recent tracks
      = link_to "Last.fm", "http://last.fm/user/blackflasher", :target => "_blank"
    #tracks_container
