.sidebar
  %article.about
    %h3.hidden About me
    = image_tag('dalibor.nasevic.small.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
    .short_about
      %p <strong>Dalibor Nasevic</strong> is a <strong>Software Professional</strong> with passion for building successful web products & teams with strong desire to win.
      = render 'shared/get_in_touch'

  %aside.archive
    %h3 Archive
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
