<div class="sidebar">
  <article class="about">
    <%= link_to image_tag('dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic'), root_path, :class => "profile_image" %>
    <div class="short_about">
      <p>
        <strong>Dalibor Nasevic</strong>
        <br>
        <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">Software Engineer</a> at GoDaddy
        <br>
      </p>
      <ul class="social_links">
        <li>
          <a href="mailto:dalibor.nasevic@gmail.com" class="fa-stack fa-lg" title="Email">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/dalibor" target="_blank" class="fa-stack fa-lg" title="Github">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/dnasevic" target="_blank" class="fa-stack fa-lg" title="Twitter">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/dnasevic" target="_blank" class="fa-stack fa-lg" title="Instagram">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </a>
        </li>
        <li>
          <a href="<%= posts_path(:format => "rss") %>" target="_blank" class="fa-stack fa-lg" title="RSS">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </a>
        </li>
      </ul>
    </div>
  </article>
  <aside class="archive">
    <h3>Archives</h3>
    <ul>
      <% @posts_by_year.each_pair do |year, posts| %>
        <li>
          <%= link_to year, posts_path(year: year) %>
          <span>(<%= posts.length %>)</span>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
