.sidebar
  %article.about
    %h3.hidden About me
    = image_tag('dalibor.nasevic.small.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
    .short_about
      %p
        Hi, my name is <strong>Dalibor Nasevic</strong> and I am <strong>software professional</strong>.
      %p
        <strong>You</strong> can read <a href="/">about me</a>, <a href="http://www.twitter.com/blackflasher">follow me</a> and subscribe to my <a href="/posts.rss">RSS</a> feed.

  %aside.archive
    %h3 Archive
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
