.sidebar
  %article.about
    %h3.hidden About me
    = link_to image_tag('dalibor.nasevic.small.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic'), root_path, class: 'profile_image'
    .short_about
      %p
        Hello, I'm <a href="https://github.com/dalibor">Dalibor</a>.
        %br
        I'm working at <a href="https://madmimi.com" target="_blank">Mad Mimi</a>.
        %br
        I'm organizer of <a href="http://ruby.mk" target="_blank">ruby.mk</a>.
        %br
        You can <a href="mailto:dalibor.nasevic@gmail.com">email me</a> or <a href="https://twitter.com/dnasevic" target="_blank">tweet me</a>.


  %aside.archive
    %h3
      == Archive
      %span== #{link_to "view all", posts_path}
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
