.sidebar
  %article.about
    %h3.hidden About me
    = image_tag('dalibor.nasevic.small.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
    .short_about
      %p I'm <strong>Ruby</strong> and <strong>Javascript</strong> developer with <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">5+ years of experience</a> in the field and I can help your product design and build successful web application front-end to back-end.
      = render 'shared/get_in_touch'

  %aside.archive
    %h3 Archive
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
