.sidebar
  %article.about
    %h3.hidden About me
    = link_to image_tag('dalibor.nasevic.small.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic'), root_path, class: 'profile_image'
    .short_about
      %p
        Dalibor Nasevic
        %br
        Software Engineer at <a href="https://www.godaddy.com" target="_blank">GoDaddy</a>
        %br
        <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a>
        %br
        <a href="https://twitter.com/dnasevic" target="_blank">twitter.com/dnasevic</a>
        %br
        <a href="https://github.com/dalibor" target="_blank">github.com/dalibor</a>


  %aside.archive
    %h3 Archives
    %ul
      - @posts_by_year.each do |post|
        %li
          = link_to post.published_at.strftime("%Y"), yearly_posts_path(post.published_at.year)
          %span== (#{post.total})
