.sidebar
  %article.about
    %h3.hidden About me
    = link_to image_tag('dalibor.nasevic.small.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic'), root_path, class: 'profile_image'
    .short_about
      %p
        Hi there, I'm <a href="http://www.linkedin.com/in/dalibornasevic">Dalibor Nasevic</a>.
        %br
        I'm software engineer at GoDaddy. You can <a href="mailto:dalibor.nasevic@gmail.com">email me</a>, <a href="https://twitter.com/dnasevic" target="_blank">tweet me</a> or find me on <a href="https://github.com/dalibor" target="_blank">github</a>.


  %aside.archive
    %h3 Archives
    %ul
      - @posts_by_year.each do |post|
        %li
          = link_to post.published_at.strftime("%Y"), yearly_posts_path(post.published_at.year)
          %span== (#{post.total})
