.item
  %h1= link_to 'Twitter', "http://twitter.com/#{TWITTER_USERNAME}"
  = image_tag "loading.gif", :id => 'twitter_loading', :alt => "Loading", :style => "display: none"
  #twitter_content.content
