<div class="item">
  <h1><%= link_to 'Twitter', "http://twitter.com/#{TWITTER_USERNAME}" %></h1>
    <%= image_tag "loading.gif", :id => 'twitter_loading', :alt => "Loading", :style => "display: none" %>
  <div class="content" id="twitter_content">
  </div>
</div>
