<div class="post admin">
  <%= render :partial => 'post_header', :locals => {:post => @post} %>
  <div class="content">
    <%= RedCloth.new(post.content).to_html %>
  </div>
  <div>
    <%= post.description %>
  </div>
  <div class="tags">
    Tags: <%= post.tags.empty? ? 'none' : post.tags.map{|tag| link_to(tag.name, tag_posts_path(tag))}.join(' ') %>
  </div>
</div>
