<div class="top_icons">
  <%= link_to image_tag('icons/add.png', :title => 'New post'), new_admin_post_path %>
</div>
<div class="posts">
  <% for post in @posts %>
  <div class="post admin">
    <%= render 'post_header', :post => post %>
  </div>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @posts %>
</div>
