<div>
  <%= link_to 'New post', new_admin_post_path %>
</div>
<div class="posts">
	<%= render :partial => 'post', :collection => @posts %>
</div>
<div class="pagination">
	<%= will_paginate @posts %>
</div>