//--------------------------------
// Minimal Base Styles
//--------------------------------
body, select, input, textarea
  color: $font-color

html
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

a, a:active, a:visited
  color: $link-color
  text-decoration: none

a:hover
  background-color: $yellow
  color: #000000
  color: $link-hover-color
  text-decoration: none
  +transition-property("background-color")
  +transition-property("color")
  +transition-timing-function("ease-in")
  +transition-duration(0.3s)

ul, ol
  margin-left: $list-left-margin

ol
  list-style-type: decimal

td, td img
  vertical-align: top


//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: normal

strong, th
  font-weight: bold

small
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  font-size: 11px
  // approx 85% when base-font-size eq 13px

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid

input:invalid, textarea:invalid
  +border-radius(1px)
  +box-shadow(red, 0, 0, 5px, 0)

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

ol, ul
  margin-bottom: 1em

ul
  li
    list-style: none

//p + p
  //text-indent: 1em
// http://24ways.org/2006/compose-to-a-vertical-rhythm
p
  line-height: 1.5em
  margin-bottom: 1.5em

b
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size: 1.9em
  line-height: 1.25em
  margin-bottom: 1em
  margin-top: 0.5em
  font-weight: bold
  color: #384046
h2
  font-size: 1.5em
h3
  font-size: 1.25em
h4
  font-size: 1em
  text-transform: uppercase
h5
  font-size: 0.9em
h6
  font-size: 0.8em

blockquote
  background-color: #E5E8E8
  border: 1px solid #C9C9C9
  font-size: 14px
  font-style: italic
  margin: 20px 10px
  padding: 10px

body
  background: #F2F2F2 url(image_path('patterns/wall.png'))
  font: 14px / 21px 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif


/* GRID BEGIN */
.container
  height: auto !important
  margin: 20px auto 0
  min-height: 100%
  overflow: hidden
  width: 960px

.wrapper
  margin: 0 auto
  overflow: hidden
  width: 960px

html, body
  height: 100%

.promo
  margin: 5px 0 40px
  overflow: hidden
  span
    font-weight: bold

  .info
    float: left
    margin-right: 3%
    text-align: right
    width: 32%
    .notes
      font: 13px / 20px 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif
    h3
      font-size: 1.2em
      text-transform: uppercase
    img
      background-color: rgba(0, 0, 0, 0.1)
      padding: 2.5%
      width: 80%

  .description
    float: right
    width: 65%

    ul
      margin-left: 0
      li
        margin: 10px 0
        &:first-child
          margin: 0
        h3
          display: inline
          font-size: 1.1em
          font-weight: bold
        time
          color: #777
        span
          font: 12px / 18px 'OpenSansLightItalic', "Helvetica Neue", Helvetica, Arial, sans-serif
        p
          margin: 5px 0 10px

  &.about
    font-size: 1.3em

    .description
      padding-top: 20px

/* GRID END */

/* LOGO BEGIN */
.logo
  border-bottom: 5px solid #CCC
  display: inline-block
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 33px
  line-height: 1.2em
  margin: 15px 0
  padding-bottom: 3px
  text-transform: uppercase

/* LOGO END */

.posts
  float: left
  overflow: hidden
  width: 70%

  ul
    margin: 0
    li
      border-bottom: 2px solid #DDD
      margin-bottom: 15px

      header
        time
          color: #777
          display: block
          margin-bottom: 5px
        margin-bottom: 6px
        h3
          display: inline
          font-weight: bold


.post
  float: left
  margin-bottom: 35px
  width: 70%

  ul
    li
      list-style: disc outside none
      padding-bottom: 5px

  h3
    margin-bottom: 1em
    font-weight: bold

  header
    margin-bottom: 30px
    span
      font-size: 12px
      margin-left: 8px
    h2
      font-size: 24px
    div
      color: #888
      font-size: 11px
      font-weight: bold
      margin-top: 2px
      padding-top: 3px
      text-transform: uppercase

      .tags
        border-left: 2px solid #CCC
        border-right: 2px solid #CCC
        margin: 0 10px
        padding: 0 10px

      span
        word-spacing: 3px
  section
    border-bottom: 1px solid #CCC
    padding: 10px 5px

  footer
    border-top: 2px solid #DDD
    padding-top: 20px
    font-style: italic

.sidebar
  float: left
  margin-bottom: 20px
  overflow: hidden
  padding-right: 20px
  width: 25%

  h3
    margin: 0 0 15px 0
  ul
    margin-left: 0px
    li
      margin: 5px 0

  .about
    font: 14px / 20px 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-bottom: 20px
    a.profile_image
      background-color: inherit
    img
      +border-radius(50%)
      background-color: rgba(0, 0, 0, 0.1)
      padding: 5px
      width: 80%
    .short_about
      margin: 20px 0 30px
  .archive
    font: 13px / 20px 'OpenSans', "Helvetica Neue", Helvetica, Arial, sans-serif
    text-transform: uppercase
    h3
      display: inline-block
      border-bottom: 2px solid #666
    span
      color: #666


.highlight
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important
  margin-bottom: 20px
  padding: 8px

code
  background-color: #f8f8f8
  border-radius: 3px
  border: 1px solid #ddd
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important
  margin: 0
  padding: 1px 2px
