/**
 * Syntax highlighting styles (Dark theme - VS Code inspired)
 */
.highlight {
  background: $code-bg;
  color: $code-text;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-bg;
  }

  .c     { color: #6a9955; font-style: italic } // Comment
  .err   { color: #f44747 } // Error
  .k     { color: #569cd6 } // Keyword
  .o     { color: #d4d4d4 } // Operator
  .cm    { color: #6a9955; font-style: italic } // Comment.Multiline
  .cp    { color: #c586c0 } // Comment.Preproc
  .c1    { color: #6a9955; font-style: italic } // Comment.Single
  .cs    { color: #6a9955; font-style: italic } // Comment.Special
  .gd    { color: #f44747 } // Generic.Deleted
  .gd .x { color: #f44747 } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #f44747 } // Generic.Error
  .gh    { color: #569cd6 } // Generic.Heading
  .gi    { color: #6a9955 } // Generic.Inserted
  .gi .x { color: #6a9955 } // Generic.Inserted.Specific
  .go    { color: #d4d4d4 } // Generic.Output
  .gp    { color: #6a9955 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #569cd6 } // Generic.Subheading
  .gt    { color: #f44747 } // Generic.Traceback
  .kc    { color: #569cd6 } // Keyword.Constant
  .kd    { color: #569cd6 } // Keyword.Declaration
  .kp    { color: #569cd6 } // Keyword.Pseudo
  .kr    { color: #569cd6 } // Keyword.Reserved
  .kt    { color: #4ec9b0 } // Keyword.Type
  .m     { color: #b5cea8 } // Literal.Number
  .s     { color: #ce9178 } // Literal.String
  .na    { color: #9cdcfe } // Name.Attribute
  .nb    { color: #4ec9b0 } // Name.Builtin
  .nc    { color: #4ec9b0 } // Name.Class
  .no    { color: #4fc1ff } // Name.Constant
  .ni    { color: #c586c0 } // Name.Entity
  .ne    { color: #4ec9b0 } // Name.Exception
  .nf    { color: #dcdcaa } // Name.Function
  .nn    { color: #4ec9b0 } // Name.Namespace
  .nt    { color: #569cd6 } // Name.Tag
  .nv    { color: #9cdcfe } // Name.Variable
  .ow    { color: #569cd6 } // Operator.Word
  .w     { color: #d4d4d4 } // Text.Whitespace
  .mf    { color: #b5cea8 } // Literal.Number.Float
  .mh    { color: #b5cea8 } // Literal.Number.Hex
  .mi    { color: #b5cea8 } // Literal.Number.Integer
  .mo    { color: #b5cea8 } // Literal.Number.Oct
  .sb    { color: #ce9178 } // Literal.String.Backtick
  .sc    { color: #ce9178 } // Literal.String.Char
  .sd    { color: #ce9178 } // Literal.String.Doc
  .s2    { color: #ce9178 } // Literal.String.Double
  .se    { color: #d7ba7d } // Literal.String.Escape
  .sh    { color: #ce9178 } // Literal.String.Heredoc
  .si    { color: #ce9178 } // Literal.String.Interpol
  .sx    { color: #ce9178 } // Literal.String.Other
  .sr    { color: #d16969 } // Literal.String.Regex
  .s1    { color: #ce9178 } // Literal.String.Single
  .ss    { color: #ce9178 } // Literal.String.Symbol
  .bp    { color: #4ec9b0 } // Name.Builtin.Pseudo
  .vc    { color: #9cdcfe } // Name.Variable.Class
  .vg    { color: #9cdcfe } // Name.Variable.Global
  .vi    { color: #9cdcfe } // Name.Variable.Instance
  .il    { color: #b5cea8 } // Literal.Number.Integer.Long
}
