- title("Latest blog posts")

= render 'shared/sidebar'

%section.posts
  %h2.hidden Latest blog posts
  %ul
    - @posts.each do |post|
      %li
        %article
          %header
            %time= post.published_at.to_s(:date)
            %h3= link_to post.title, post
          %p= truncate(strip_tags(post.content), length: 350)
