<% title('Home') %>

<div class="rss">
    <%= link_to image_tag('feed-icon-14x14.png'), posts_path(:format => 'rss') %>
</div>
<%= render :partial => 'post', :collection => @posts %>
<div class="pagination">
	<%= will_paginate @posts %>
</div>