- title("Latest blog posts")

= render 'shared/sidebar'

%section.posts
  %h1= posts_title
  %ul.posts_list
    - @posts.each do |post|
      %li
        %h3= link_to post.title, post
        %time= post.date.strftime('%e %b %Y')
