- title("Latest blog posts")

= render 'shared/sidebar'

%section.posts
  %h2.hidden Latest blog posts
  %ul
    - @posts.each do |post|
      %li
        %article
          %header
            %h3= link_to post.title, post
            %time= post.published_at.to_s(:date)
          %p= post.description
