<% title(@post.title) %>
<% keywords(@post.tags.map(&:name).join(', ')) %>
<% description(@post.description) %>

<%= render :partial => 'posts/post', :object => @post %>

<p><a name="comments" class="anchor">Comments:</a></p>

<div class="comments">
  <% if @post.comments.size > 0 %>
    <%= render :partial => 'comments/comment', :collection => @comments %>
  <% else %>
    This post has no comments yet.
  <% end %>
</div>

<% if @post.comments_closed? -%>
  <p>Sorry, comments are closed for this article.</p>
<% else -%>
  <%= render :partial => 'comments/form' %>
<% end -%>

