= javascript_include_tag 'syntaxhighlighter/shCore', 'syntaxhighlighter/shBrushDiff.js', 'syntaxhighlighter/shBrushPlain.js', 'syntaxhighlighter/shBrushRuby', 'syntaxhighlighter/shBrushBash.js', 'syntaxhighlighter/shBrushCss.js', 'syntaxhighlighter/shBrushSass.js', 'syntaxhighlighter/shBrushJScript.js', 'syntaxhighlighter/shBrushXml.js'
